@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="documents_list">
    <div id="document_list_columns">
        <div style="min-width:200px;">Title</div>
        <div>Description</div>
        <div>Category</div>
        <div>Tags</div>
        <div>SalesForce Id</div>
        <div>Alternate Tracking ID</div>
        <div>Lead Form Required</div>
        <div>&nbsp;</div>
    </div><div class="div_clear" />
    @foreach (var doc in ViewBag.DocsList)
    {
        if (doc.Tags == "" || doc.Tags == null)
        {
            doc.Tags = "N/A";
        }
        else
        {
            doc.Tags.Trim();
        }
        if (doc.SalesForceId == "" || doc.SalesForceId == null)
        {
            doc.SalesForceId = "N/A";
        }
        else
        {
            doc.SalesForceId.Trim();
        }
        if (doc.AlternateTrackingId == "" || doc.AlternateTrackingId == null)
        {
            doc.AlternateTrackingId = "N/A";
        }

        if (doc.Category == "file")
        {
            doc.Category = "File";
        }
        if (doc.Category == "emailblasts")
        {
            doc.Category = "Email Blasts";
        }
        if (doc.Category == "assets")
        {
            doc.Category = "Assets";
        }

        <div id="document_list_document">
            <div style="min-width:200px;">@doc.Title.Trim()</div>
            <div>@doc.Description</div>
            <div>@doc.Category</div>
            <div>@doc.Tags</div>
            <div>@doc.SalesForceId</div>
            <div>@doc.AlternateTrackingId</div>
            <div>@doc.LeadRequired</div>
            @*@if (doc.LeadRequired.Trim() == "Yes")
            {
                <div><a href="/leads/create/@doc.Id" target="_blank">Go to form</a></div>
            }
            else
            {*@
                <div><a href="/leads/downloadfile/@doc.Id">Download File</a></div>
            @*}*@
        </div>
            <div class="div_clear" />

    }
</div>

<script>

    $(document).ready(function ()
    {
        $(".delete_doc").click(function() {
            if (confirm("Are you sure you want to delete this document?")) {
                $.post("/Document/DeleteDocument/", { id: $(this).attr("rel") },
                    function (data) {
                        if (data.success == true) {
                            window.location.href = "/Document";
                        }
                });
            }
        });
    });

</script>

