@model DMP.Models.ViewModel.AddUserSignUpView

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-form-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div>
                @Html.LabelFor(model => model.LoginName)

                <div>
                    @Html.EditorFor(model => model.LoginName)
                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)

                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "")
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.FirstName)

                <div>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.LastName)

                <div>
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Gender)

                <div>
                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem> {
                        new SelectListItem { Text="Male", Value="M" },
                        new SelectListItem { Text="Female", Value="F" }
                    }, new { @class = "form-control" })
                </div>
            </div>

            <div>
                <div>
                    <input type="submit" value="Register" />

                    @Html.ActionLink("Back to Main", "Index", "Home")
                    @Html.ActionLink("Login", "Login", "Account")
                </div>
            </div>
        </div>

    }
</div>