@model DMP.Models.ViewModel.UpdateDocumentView

@{
    ViewBag.Title = "Add Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="contents">
        <div class="heading">
            <h2>Add Document</h2>
        </div>

        <div class="page-contents">
            @using (Html.BeginForm("Add", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-row">
                    <div class="form-col-label">
                        <label>Preference</label>
                    </div>

                    <div class="form-col-input">
                        <label>Setting</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">
                        @Html.TextArea("Description", null, new { @class = "form-control", @cols = 80, @rows = 5 })

                        @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!--
                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>
                -->
                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">

                        @Html.DropDownListFor(model => model.Category, new List<SelectListItem>
                            {
                       new SelectListItem { Text="-- Select Category --", Value="" },
                       new SelectListItem { Text="Assets", Value="assets" },
                       new SelectListItem { Text="Email Blasts", Value="emailblasts" },
                        new SelectListItem { Text="Files", Value="file" }
                        }, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.ProductGroup, "", new { @class = "text-danger" })*@

                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>               

                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.SalesForceId, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">
                        @Html.EditorFor(model => model.SalesForceId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SalesForceId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.AlternateTrackingId, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">
                        @Html.EditorFor(model => model.AlternateTrackingId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlternateTrackingId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.AppCode, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">
                        @*@Html.EditorFor(model => model.AppCode, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(model => model.AppCode, new List<SelectListItem>
                            {
                        new SelectListItem { Text="(API-00) Other API Application", Value="API-00" }, new SelectListItem { Text="(API-01) Microvia Formation-- CO2", Value="API-01" }, new SelectListItem { Text="(API-02) Microvia Formation-- UV", Value="API-02" }, new SelectListItem { Text="(API-03) Flex Circuit Processing", Value="API-03" }, new SelectListItem { Text="(API-04) Ceramic Processing", Value="API-04" }, new SelectListItem { Text="(API-05) API-05 IC Substrate Drilling & Other Via Drilling", Value="API-05" }, new SelectListItem { Text="(API-06) PCB Cutting", Value="API-06" }, new SelectListItem { Text="(API-07) Trimming/Tuning", Value="API-07" }, new SelectListItem { Text="(API-08) Silicon wafer scribe, cut, dice", Value="API-08" }, new SelectListItem { Text="(API-10) PCB inspection", Value="API-10" }, new SelectListItem { Text="(API-11) PCB test & measurement", Value="API-11" }, new SelectListItem { Text="(API-12) PCB direct write", Value="API-12" }, new SelectListItem { Text="(API-14) IC Package Cutting", Value="API-14" }, new SelectListItem { Text="(API-17) PCB Laser Direct Ablation", Value="API-17" }, new SelectListItem { Text="(API-18) PCB/IC Package Marking", Value="API-18" }, new SelectListItem { Text="(API-19) PCB Soldering / Welding", Value="API-19" }, new SelectListItem { Text="(API-20) Thru Silicon Via Formation", Value="API-20" }, new SelectListItem { Text="(API-21) Through mold via drilling", Value="API-21" }, new SelectListItem { Text="(API-22) Ink Jet Nozzle Drilling", Value="API-22" }, new SelectListItem { Text="(API-75) Laser Measurement and Control for API apps", Value="API-75" }, new SelectListItem { Text="(API-80) API - Components for OEL laser in API", Value="API-80" }, new SelectListItem { Text="(API-85) Budget Override", Value="API-85" }, new SelectListItem { Text="(API-95) LDM (AUBURN USE ONLY!)", Value="API-95" }, new SelectListItem { Text="(API-99) API spare parts", Value="API-99" }, new SelectListItem { Text="(AU-01) Auto Cutting", Value="AU-01" }, new SelectListItem { Text="(AU-02) Auto Fine Cutting - incl. Battery", Value="AU-02" }, new SelectListItem { Text="(AU-03) Auto Welding & Brazing", Value="AU-03" }, new SelectListItem { Text="(AU-04) Auto Fine Welding - incl. Battery & Polymers", Value="AU-04" }, new SelectListItem { Text="(AU-05) Auto Cladding and Heat Treatment", Value="AU-05" }, new SelectListItem { Text="(AU-06) Auto Marking", Value="AU-06" }, new SelectListItem { Text="(AU-07) Auto Precision Drilling (incl. Ultrafast)", Value="AU-07" }, new SelectListItem { Text="(AU-08) Auto Precision Cutting & Stucturing (incl. Ultrafast)", Value="AU-08" }, new SelectListItem { Text="(AU-10) Auto laser cleaning & ablation incl. Battery", Value="AU-10" }, new SelectListItem { Text="(CG-A2) Awards & Sign Cutting & Engraving", Value="CG-A2" }, new SelectListItem { Text="(CG-C7) Cigarette Drilling", Value="CG-C7" }, new SelectListItem { Text="(CG-E2) Electronics & electrical goods cutting", Value="CG-E2" }, new SelectListItem { Text="(CG-E4) Electronics & electrical goods welding", Value="CG-E4" }, new SelectListItem { Text="(CG-E6) Electronics & electrical goods marking", Value="CG-E6" }, new SelectListItem { Text="(CG-G2) Glass Cutting excl. Display", Value="CG-G2" }, new SelectListItem { Text="(CG-G6) Glass Marking", Value="CG-G6" }, new SelectListItem { Text="(CG-G7) Glass Drilling excl. Solar & Semi", Value="CG-G7" }, new SelectListItem { Text="(CG-J2) Jewelry, Watch & Luxury Goods Cutting", Value="CG-J2" }, new SelectListItem { Text="(CG-J4) Jewelry, Watch & Luxury Goods Welding", Value="CG-J4" }, new SelectListItem { Text="(CG-J6) Jewelry, Watch & Luxury Goods Marking & Engraving", Value="CG-J6" }, new SelectListItem { Text="(CG-P2) Print and Label Cutting", Value="CG-P2" }, new SelectListItem { Text="(CG-P6) Package Marking", Value="CG-P6" }, new SelectListItem { Text="(CG-P7) Package Scoring & Perforation & Cutting", Value="CG-P7" }, new SelectListItem { Text="(CG-S2) Security Cutting & Drilling", Value="CG-S2" }, new SelectListItem { Text="(CG-S6) Security Marking & Structuring", Value="CG-S6" }, new SelectListItem { Text="(CG-T2) Textile & Leather Cutting", Value="CG-T2" }, new SelectListItem { Text="(CG-T3) Textile & Leather Marking", Value="CG-T3" }, new SelectListItem { Text="(CG-T6) Textile & Leather Marking", Value="CG-T6" }, new SelectListItem { Text="(FPD-00) Flat Panel Display - Other", Value="FPD-00" }, new SelectListItem { Text="(FPD-01) Display Backplane Crystallization", Value="FPD-01" }, new SelectListItem { Text="(FPD-02) Ablative Patterning", Value="FPD-02" }, new SelectListItem { Text="(FPD-03) Photoresist Exposure Patterning", Value="FPD-03" }, new SelectListItem { Text="(FPD-04) Laser Lift Off; Displays", Value="FPD-04" }, new SelectListItem { Text="(FPD-05) Glass Processing", Value="FPD-05" }, new SelectListItem { Text="(FPD-06) Repair", Value="FPD-06" }, new SelectListItem { Text="(FPD-07) Thermal Sealing/Welding", Value="FPD-07" }, new SelectListItem { Text="(FPD-08) Flat Panel Display Inspection", Value="FPD-08" }, new SelectListItem { Text="(FPD-09) Films and Foils Processing", Value="FPD-09" }, new SelectListItem { Text="(FPD-10) Laser Induced Forward Transfer (LITI, LIPS, LIFT)", Value="FPD-10" }, new SelectListItem { Text="(FPD-11) Marking/Titling in FPD", Value="FPD-11" }, new SelectListItem { Text="(FPD-12) Laser Scribing, LED", Value="FPD-12" }, new SelectListItem { Text="(FPD-13) Laser Lift Off, LED", Value="FPD-13" }, new SelectListItem { Text="(FPD-75) Laser Measurement and Control for FPD apps", Value="FPD-75" }, new SelectListItem { Text="(FPD-80) FPD - Components for OEL laser in FPD", Value="FPD-80" }, new SelectListItem { Text="(FPD-85) Budget Override", Value="FPD-85" }, new SelectListItem { Text="(FPD-95) LDM (AUBURN USE ONLY!)", Value="FPD-95" }, new SelectListItem { Text="(FPD-99) FDP Spare Parts", Value="FPD-99" }, new SelectListItem { Text="(GD-01) Computer to plate - Visible", Value="GD-01" }, new SelectListItem { Text="(GD-02) Computer to plate - IR", Value="GD-02" }, new SelectListItem { Text="(GD-03) Computer to plate - UV", Value="GD-03" }, new SelectListItem { Text="(GD-04) Flexography", Value="GD-04" }, new SelectListItem { Text="(GD-05) Holographic printing & replic.", Value="GD-05" }, new SelectListItem { Text="(GD-06) Film writing and subtitling", Value="GD-06" }, new SelectListItem { Text="(GD-07) Digital photoprinting", Value="GD-07" }, new SelectListItem { Text="(GD-08) Gravure and Anilox", Value="GD-08" }, new SelectListItem { Text="(GD-09) Textile Printing", Value="GD-09" }, new SelectListItem { Text="(GD-21) Entertainment", Value="GD-21" }, new SelectListItem { Text="(GD-22) Solid-State RGB display and proj", Value="GD-22" }, new SelectListItem { Text="(GD-23) Pattern generation-- NON-MEDICAL", Value="GD-23" }, new SelectListItem { Text="(GD-25) Disc Mastering", Value="GD-25" }, new SelectListItem { Text="(GD-26) Data Storage", Value="GD-26" }, new SelectListItem { Text="(GD-75) Laser Measurement and Conrol for GD apps", Value="GD-75" }, new SelectListItem { Text="(GD-80) GD - Components for OEL laser in GD", Value="GD-80" }, new SelectListItem { Text="(GD-85) Budget Override", Value="GD-85" }, new SelectListItem { Text="(GD-95) LDM (AUBURN USE ONLY!)", Value="GD-95" }, new SelectListItem { Text="(GD-99) Graphic Arts Spare Parts", Value="GD-99" }, new SelectListItem { Text="(INS-00) Other INS Application", Value="INS-00" }, new SelectListItem { Text="(INS-01) Fluorescence Spectroscopy/Imaging/NDT", Value="INS-01" }, new SelectListItem { Text="(INS-02) Raman Spectroscopy", Value="INS-02" }, new SelectListItem { Text="(INS-03) Confocal Microscopy", Value="INS-03" }, new SelectListItem { Text="(INS-04) MPE Microscopy", Value="INS-04" }, new SelectListItem { Text="(INS-05) Interferometry/Shearography", Value="INS-05" }, new SelectListItem { Text="(INS-06) Velocimetry and Particle Sizing", Value="INS-06" }, new SelectListItem { Text="(INS-07) Environmental Monitoring", Value="INS-07" }, new SelectListItem { Text="(INS-08) Biological Agent Detection", Value="INS-08" }, new SelectListItem { Text="(INS-09) Flow Cytometry", Value="INS-09" }, new SelectListItem { Text="(INS-10) Automated Hematology", Value="INS-10" }, new SelectListItem { Text="(INS-11) Scanning Image Cytometry", Value="INS-11" }, new SelectListItem { Text="(INS-12) Laser Tweezers/Scissors", Value="INS-12" }, new SelectListItem { Text="(INS-13) In-Vivo Medical Imaging", Value="INS-13" }, new SelectListItem { Text="(INS-14) In-Vivo Medical Diagnostics", Value="INS-14" }, new SelectListItem { Text="(INS-15) Capillary Electrophoresis", Value="INS-15" }, new SelectListItem { Text="(INS-16) DNA sequencing", Value="INS-16" }, new SelectListItem { Text="(INS-17) HTS/DD, Fluorescence-Based", Value="INS-17" }, new SelectListItem { Text="(INS-18) HTS/DD, Raman-Based", Value="INS-18" }, new SelectListItem { Text="(INS-19) HTS/DD, Flow Cytometry-Based", Value="INS-19" }, new SelectListItem { Text="(INS-20) HTS/DD, Microchip-Scanning", Value="INS-20" }, new SelectListItem { Text="(INS-21) HTS/DD, Lab-on-a-Chip", Value="INS-21" }, new SelectListItem { Text="(INS-22) HTS/DD, MALDI-TOF", Value="INS-22" }, new SelectListItem { Text="(INS-23) HTS/DD, Cell Imaging", Value="INS-23" }, new SelectListItem { Text="(INS-24) Forensics", Value="INS-24" }, new SelectListItem { Text="(INS-25) Disc Mastering and Data Storage", Value="INS-25" }, new SelectListItem { Text="(INS-27) Water Disinfection", Value="INS-27" }, new SelectListItem { Text="(INS-28) Commercial UF Amplifier Seed Systems", Value="INS-28" }, new SelectListItem { Text="(INS-29) Fluorescent Lamp Lighting", Value="INS-29" }, new SelectListItem { Text="(INS-30) Super Resolution Microscopy", Value="INS-30" }, new SelectListItem { Text="(INS-31) Optogenetics OEM applications", Value="INS-31" }, new SelectListItem { Text="(INS-75) Laser Measurement and Control for INS apps", Value="INS-75" }, new SelectListItem { Text="(INS-80) INS - Components for OEL laser in INS", Value="INS-80" }, new SelectListItem { Text="(INS-85) Budget Override", Value="INS-85" }, new SelectListItem { Text="(INS-95) LDM (Auburn Use Only)", Value="INS-95" }, new SelectListItem { Text="(INS-99) Instrument Spare Parts", Value="INS-99" }, new SelectListItem { Text="(INT-00) Internal Use", Value="INT-00" }, new SelectListItem { Text="(LTM-00) Laser Test and Measurement Other", Value="LTM-00" }, new SelectListItem { Text="(LTM-01) Science/Research/Engineering", Value="LTM-01" }, new SelectListItem { Text="(LTM-02) Manufacturing/Assembly/Test QA", Value="LTM-02" }, new SelectListItem { Text="(LTM-03) Field Service/Maintenance", Value="LTM-03" }, new SelectListItem { Text="(LTM-04) Process Control Monitoring", Value="LTM-04" }, new SelectListItem { Text="(LTM-05) Telecom Test and Measurement", Value="LTM-05" }, new SelectListItem { Text="(LTM-06) Pass-through resale", Value="LTM-06" }, new SelectListItem { Text="(LTM-07) Hold for future use", Value="LTM-07" }, new SelectListItem { Text="(LTM-08) Hold for future use", Value="LTM-08" }, new SelectListItem { Text="(LTM-09) Hold for future use", Value="LTM-09" }, new SelectListItem { Text="(LTM-10) Hold for future use", Value="LTM-10" }, new SelectListItem { Text="(LTM-11) Hold for future use", Value="LTM-11" }, new SelectListItem { Text="(LTM-12) Hold for future use", Value="LTM-12" }, new SelectListItem { Text="(LTM-13) Hold for future use", Value="LTM-13" }, new SelectListItem { Text="(LTM-14) Hold for future use", Value="LTM-14" }, new SelectListItem { Text="(LTM-15) Hold for future use", Value="LTM-15" }, new SelectListItem { Text="(LTM-85) Budget Override", Value="LTM-85" }, new SelectListItem { Text="(LTM-99) LTM Spare Parts", Value="LTM-99" }, new SelectListItem { Text="(MD-02) MDM cutting", Value="MD-02" }, new SelectListItem { Text="(MD-04) MDM welding (polymer & metal)", Value="MD-04" }, new SelectListItem { Text="(MD-06) MDM Marking", Value="MD-06" }, new SelectListItem { Text="(MD-07) MDM Drilling", Value="MD-07" }, new SelectListItem { Text="(MD-08) MDM Surface Structuring", Value="MD-08" }, new SelectListItem { Text="(MDC-01) Ophthalmology - PDT (for AMD)", Value="MDC-01" }, new SelectListItem { Text="(MDC-02) Ophthalmology - Refractive (LASIK)", Value="MDC-02" }, new SelectListItem { Text="(MDC-03) Ophthalmology - All Others", Value="MDC-03" }, new SelectListItem { Text="(MDC-04) Aesthetic - Hair Removal", Value="MDC-04" }, new SelectListItem { Text="(MDC-05) Aesthetic - All Others", Value="MDC-05" }, new SelectListItem { Text="(MDC-06) Surgical - Urology/Gynecology", Value="MDC-06" }, new SelectListItem { Text="(MDC-07) Surgical - All Others", Value="MDC-07" }, new SelectListItem { Text="(MDC-08) Therapeutic - Biostimulation/LLLT", Value="MDC-08" }, new SelectListItem { Text="(MDC-09) Therapeutic - PDT", Value="MDC-09" }, new SelectListItem { Text="(MDC-10) Therapeutic - All Others", Value="MDC-10" }, new SelectListItem { Text="(MDC-11) Diagnostic - Rb Vapor Pumping", Value="MDC-11" }, new SelectListItem { Text="(MDC-12) Diagnostic - All Others", Value="MDC-12" }, new SelectListItem { Text="(MDC-13) Dentistry - All", Value="MDC-13" }, new SelectListItem { Text="(MDC-14) Veterinary - All", Value="MDC-14" }, new SelectListItem { Text="(MDC-15) Patient Alignment", Value="MDC-15" }, new SelectListItem { Text="(MDC-16) Aesthetic - Psoriasis", Value="MDC-16" }, new SelectListItem { Text="(MDC-75) Laser Measurement and Control for MDC apps", Value="MDC-75" }, new SelectListItem { Text="(MDC-80) MDC - Components for OEL laser in MDC", Value="MDC-80" }, new SelectListItem { Text="(MDC-85) Budget Override", Value="MDC-85" }, new SelectListItem { Text="(MDC-95) LDM (AUBURN USE ONLY!)", Value="MDC-95" }, new SelectListItem { Text="(MDC-99) Medical Laser Components Spare Parts", Value="MDC-99" }, new SelectListItem { Text="(MDC_17) Ophtalmology - Cataract", Value="MDC_17" }, new SelectListItem { Text="(MIL-01) LADAR", Value="MIL-01" }, new SelectListItem { Text="(MIL-02) IR Countermeasures", Value="MIL-02" }, new SelectListItem { Text="(MIL-03) Vibration Sensing", Value="MIL-03" }, new SelectListItem { Text="(MIL-04) Chemical/Biological Agent Detection", Value="MIL-04" }, new SelectListItem { Text="(MIL-05) Other Remote Sensing", Value="MIL-05" }, new SelectListItem { Text="(MIL-06) Target Designation", Value="MIL-06" }, new SelectListItem { Text="(MIL-07) Laser Doppler", Value="MIL-07" }, new SelectListItem { Text="(MIL-08) Any Space-Based Usage", Value="MIL-08" }, new SelectListItem { Text="(MIL-09) FLIR Scene Simulation", Value="MIL-09" }, new SelectListItem { Text="(MIL-10) Flight Simulation", Value="MIL-10" }, new SelectListItem { Text="(MIL-11) Missile warning systems", Value="MIL-11" }, new SelectListItem { Text="(MIL-12) Ordinance Ignition", Value="MIL-12" }, new SelectListItem { Text="(MIL-13) Aircraft/Flight Optics", Value="MIL-13" }, new SelectListItem { Text="(MIL-14) Space-based/Satellite Optics", Value="MIL-14" }, new SelectListItem { Text="(MIL-75) Laser Measurement and Control for MIL apps", Value="MIL-75" }, new SelectListItem { Text="(MIL-80) MIL - Components for OEL laser in MIL", Value="MIL-80" }, new SelectListItem { Text="(MIL-85) Budget Override", Value="MIL-85" }, new SelectListItem { Text="(MIL-95) LDM (AUBURN USE ONLY!)", Value="MIL-95" }, new SelectListItem { Text="(MIL-99) Military spare parts", Value="MIL-99" }, new SelectListItem { Text="(MMP-00) Other Micro-Material Processing", Value="MMP-00" }, new SelectListItem { Text="(MMP-01) Telecom Components Manufacturing", Value="MMP-01" }, new SelectListItem { Text="(MMP-06) Disk Drive Manufacturing", Value="MMP-06" }, new SelectListItem { Text="(MMP-09) Optical Waveguide Writing", Value="MMP-09" }, new SelectListItem { Text="(MMP-11) Ultrafast Processing", Value="MMP-11" }, new SelectListItem { Text="(MMP-15) Pulsed Laser Deposition", Value="MMP-15" }, new SelectListItem { Text="(MMP-18) Ink Jet Nozzle Drilling", Value="MMP-18" }, new SelectListItem { Text="(MMP-75) Laser Measurement and Control for MMP apps", Value="MMP-75" }, new SelectListItem { Text="(MMP-80) MMP - Components for OEL laser in MMP", Value="MMP-80" }, new SelectListItem { Text="(MMP-85) Budget Override", Value="MMP-85" }, new SelectListItem { Text="(MMP-95) LDM (AUBURN USE ONLY!)", Value="MMP-95" }, new SelectListItem { Text="(MMP-99) MMP Spare Parts", Value="MMP-99" }, new SelectListItem { Text="(MP-00) Other Micromachining", Value="MP-00" }, new SelectListItem { Text="(MP-01) Rapid Prototyping", Value="MP-01" }, new SelectListItem { Text="(MP-05) Glass Processing (excl Microelec)", Value="MP-05" }, new SelectListItem { Text="(MP-07) Marking", Value="MP-07" }, new SelectListItem { Text="(MP-09) Drilling metal", Value="MP-09" }, new SelectListItem { Text="(MP-10) Cutting metal", Value="MP-10" }, new SelectListItem { Text="(MP-11) Drilling non-metal", Value="MP-11" }, new SelectListItem { Text="(MP-12) Cutting non-metal", Value="MP-12" }, new SelectListItem { Text="(MP-13) Engraving", Value="MP-13" }, new SelectListItem { Text="(MP-14) Converting", Value="MP-14" }, new SelectListItem { Text="(MP-18) Metal Welding / Brazing", Value="MP-18" }, new SelectListItem { Text="(MP-22) Soldering", Value="MP-22" }, new SelectListItem { Text="(MP-23) Surface structuring - UV", Value="MP-23" }, new SelectListItem { Text="(MP-24) Cladding", Value="MP-24" }, new SelectListItem { Text="(MP-25) Heat Treating", Value="MP-25" }, new SelectListItem { Text="(MP-26) Plastics Welding", Value="MP-26" }, new SelectListItem { Text="(MP-27) Medical Device Manufacturing", Value="MP-27" }, new SelectListItem { Text="(MP-28) Automotive Mfg", Value="MP-28" }, new SelectListItem { Text="(MP-55) Pulsed Laser Deposition", Value="MP-55" }, new SelectListItem { Text="(MP-66) General Marking & Engraving (CO2, DPSS, Pumping)", Value="MP-66" }, new SelectListItem { Text="(MP-75) Laser Measurement and Control for MP apps", Value="MP-75" }, new SelectListItem { Text="(MP-80) MP - Components for OEL laser in MP", Value="MP-80" }, new SelectListItem { Text="(MP-81) Fiber delivery and process heads", Value="MP-81" }, new SelectListItem { Text="(MP-82) MP - Active Fibers", Value="MP-82" }, new SelectListItem { Text="(MP-85) Budget Override", Value="MP-85" }, new SelectListItem { Text="(MP-95) LDM (AUBURN USE ONLY!)", Value="MP-95" }, new SelectListItem { Text="(MP-99) Material Processing Spare Parts", Value="MP-99" }, new SelectListItem { Text="(MT-01) Sheet metal & Dieboard cutting (>500W)", Value="MT-01" }, new SelectListItem { Text="(MT-02) LP cutting (<500W)", Value="MT-02" }, new SelectListItem { Text="(MT-03) High Power Welding (>1kW)", Value="MT-03" }, new SelectListItem { Text="(MT-04) Micro Welding & Tool Repair (<1kW)", Value="MT-04" }, new SelectListItem { Text="(MT-05) Cladding & Heat Treatment", Value="MT-05" }, new SelectListItem { Text="(MT-06) Tool marking & engraving & cleaning", Value="MT-06" }, new SelectListItem { Text="(MT-07) Metal drilling", Value="MT-07" }, new SelectListItem { Text="(MT-08) Precision metal cutting & micromachining", Value="MT-08" }, new SelectListItem { Text="(MT-09) Additive Manufacturing", Value="MT-09" }, new SelectListItem { Text="(N/A) Not Applicable", Value="N/A" }, new SelectListItem { Text="(N/A) Not Applicable", Value="N/A" }, new SelectListItem { Text="(N/A) Not Applicable", Value="N/A" }, new SelectListItem { Text="(SCI-000) Unqualified", Value="SCI-000" }, new SelectListItem { Text="(SCI-101) Grating/waveguide writing", Value="SCI-101" }, new SelectListItem { Text="(SCI-102) Holography & Interferometry", Value="SCI-102" }, new SelectListItem { Text="(SCI-103) Metrology and data storage", Value="SCI-103" }, new SelectListItem { Text="(SCI-104) Ranging, sensing, sizing and optical tweezers", Value="SCI-104" }, new SelectListItem { Text="(SCI-105) Material development and testing", Value="SCI-105" }, new SelectListItem { Text="(SCI-106) Material processing and modification", Value="SCI-106" }, new SelectListItem { Text="(SCI-107) Pulsed laser deposition (PLD)", Value="SCI-107" }, new SelectListItem { Text="(SCI-108) Quantum optics, squeezed states and entanglement", Value="SCI-108" }, new SelectListItem { Text="(SCI-109) Verdi replacing older pump lasers", Value="SCI-109" }, new SelectListItem { Text="(SCI-110) Pump or seed lasers for third-party or homebuilt lasers", Value="SCI-110" }, new SelectListItem { Text="(SCI-113) Laser and optical device development", Value="SCI-113" }, new SelectListItem { Text="(SCI-114) Cooling and trapping", Value="SCI-114" }, new SelectListItem { Text="(SCI-115) CEP, attosecond and X-ray generation", Value="SCI-115" }, new SelectListItem { Text="(SCI-116) Raman Spectroscopy", Value="SCI-116" }, new SelectListItem { Text="(SCI-117) Pump & probe/transient absorption experiments", Value="SCI-117" }, new SelectListItem { Text="(SCI-118) High-resolution CW spectroscopy", Value="SCI-118" }, new SelectListItem { Text="(SCI-119) Terahertz generation and studies (includes THz pump and probe)", Value="SCI-119" }, new SelectListItem { Text="(SCI-120) Femtochemistry and femtobiology", Value="SCI-120" }, new SelectListItem { Text="(SCI-121) Linear scanning microscopy (confocal, light sheet, STED, etc.)", Value="SCI-121" }, new SelectListItem { Text="(SCI-122) Multiphoton Microscopy (end users)", Value="SCI-122" }, new SelectListItem { Text="(SCI-123) CARS and other NLO Microscopy", Value="SCI-123" }, new SelectListItem { Text="(SCI-124) Multiphoton Microscopy (scope companies)", Value="SCI-124" }, new SelectListItem { Text="(SCI-125) Widefield imaging", Value="SCI-125" }, new SelectListItem { Text="(SCI-126) Laser/tissue interaction (non imaging)", Value="SCI-126" }, new SelectListItem { Text="(SCI-127) Multidimensional spectroscopy", Value="SCI-127" }, new SelectListItem { Text="(SCI-128) Surface/interface studies & SFG spectroscopy", Value="SCI-128" }, new SelectListItem { Text="(SCI-129) Time-resolved fluorescence", Value="SCI-129" }, new SelectListItem { Text="(SCI-130) FEL, Linac and Synchrotron studies", Value="SCI-130" }, new SelectListItem { Text="(SCI-131) Laser Fusion (optics)", Value="SCI-131" }, new SelectListItem { Text="(SCI-132) Astronomy (optics)", Value="SCI-132" }, new SelectListItem { Text="(SCI-75) Laser Measurement and Control for SCI apps", Value="SCI-75" }, new SelectListItem { Text="(SCI-80) SCI - Components in SCI", Value="SCI-80" }, new SelectListItem { Text="(SCI-85) Budget Override", Value="SCI-85" }, new SelectListItem { Text="(SCI-99) Scientific spare parts", Value="SCI-99" }, new SelectListItem { Text="(SEM-00) Other Semiconductor Application", Value="SEM-00" }, new SelectListItem { Text="(SEM-01) Photomask direct write", Value="SEM-01" }, new SelectListItem { Text="(SEM-02) Photomask repair", Value="SEM-02" }, new SelectListItem { Text="(SEM-03) Photomask inspection", Value="SEM-03" }, new SelectListItem { Text="(SEM-04) Optics inspection for photolithography", Value="SEM-04" }, new SelectListItem { Text="(SEM-05) Lithography tool metrology, alignment, calibration", Value="SEM-05" }, new SelectListItem { Text="(SEM-06) Lithography electrooptic subcomponents", Value="SEM-06" }, new SelectListItem { Text="(SEM-11) Semiconductor wafer inspection", Value="SEM-11" }, new SelectListItem { Text="(SEM-12) Semiconductor wafer test & meas.", Value="SEM-12" }, new SelectListItem { Text="(SEM-13) Semiconductor device test & meas.", Value="SEM-13" }, new SelectListItem { Text="(SEM-14) Semiconductor grow & post grow", Value="SEM-14" }, new SelectListItem { Text="(SEM-15) Memory repair", Value="SEM-15" }, new SelectListItem { Text="(SEM-16) Semiconductor Device Annealing", Value="SEM-16" }, new SelectListItem { Text="(SEM-17) Lithography, exposure tool", Value="SEM-17" }, new SelectListItem { Text="(SEM-18) Semiconductor Wafer Marking", Value="SEM-18" }, new SelectListItem { Text="(SEM-19) Laser Lift Off; Wafer", Value="SEM-19" }, new SelectListItem { Text="(SEM-75) Laser Measurement and Control for SEM apps", Value="SEM-75" }, new SelectListItem { Text="(SEM-80) SEM - Components for OEL laser in SEM", Value="SEM-80" }, new SelectListItem { Text="(SEM-85) Budget Override", Value="SEM-85" }, new SelectListItem { Text="(SEM-95) LDM (AUBURN USE ONLY!)", Value="SEM-95" }, new SelectListItem { Text="(SEM-99) Semiconductor spare parts", Value="SEM-99" }, new SelectListItem { Text="(SOL-00) Solar Other", Value="SOL-00" }, new SelectListItem { Text="(SOL-01) Crystalline Edge Isolation", Value="SOL-01" }, new SelectListItem { Text="(SOL-02) Crystalline Dopant Diffusion", Value="SOL-02" }, new SelectListItem { Text="(SOL-03) Crystalline Front Surface Ablation", Value="SOL-03" }, new SelectListItem { Text="(SOL-04) Crystalline Other Ablation", Value="SOL-04" }, new SelectListItem { Text="(SOL-05) Thin Film Edge Deletion", Value="SOL-05" }, new SelectListItem { Text="(SOL-06) Thin Film Patterning", Value="SOL-06" }, new SelectListItem { Text="(SOL-07) Thin Film Annealing", Value="SOL-07" }, new SelectListItem { Text="(SOL-08) Crystalline - rear side passivation opening - PERC", Value="SOL-08" }, new SelectListItem { Text="(SOL-75) Solar for LMC", Value="SOL-75" }, new SelectListItem { Text="(SOL-80) Components in SOL", Value="SOL-80" }, new SelectListItem { Text="(SOL-85) Budget Override", Value="SOL-85" }, new SelectListItem { Text="(SOL-99) Solar Spare Parts", Value="SOL-99" }, new SelectListItem { Text="(TC-85) Budget Override", Value="TC-85" }, new SelectListItem { Text="(TC-99) TelCom spare parts", Value="TC-99" }, new SelectListItem { Text="(TI-00) Thermal Imaging Other", Value="TI-00" }, new SelectListItem { Text="(TI-01) Thermal Imaging Military", Value="TI-01" }, new SelectListItem { Text="(TI-02) Thermal Imaging Commercial", Value="TI-02" }, new SelectListItem { Text="(TI-75) Laser Measurement and Control for TI apps", Value="TI-75" }, new SelectListItem { Text="(TI-80) Components in TI", Value="TI-80" }, new SelectListItem { Text="(TI-85) Budget Override", Value="TI-85" }, new SelectListItem { Text="(TI-95) LDM (AUBURN USE ONLY!)", Value="TI-95" }, new SelectListItem { Text="(TI-99) Thermal Imaging Spare Parts", Value="TI-99" }, new SelectListItem { Text="(VIS-00) Machine Vision Other", Value="VIS-00" }, new SelectListItem { Text="(VIS-01) Machine Vision Automotive", Value="VIS-01" }, new SelectListItem { Text="(VIS-02) Machine Vision Medical/Dental", Value="VIS-02" }, new SelectListItem { Text="(VIS-03) Machine Vision Food", Value="VIS-03" }, new SelectListItem { Text="(VIS-04) Machine Vision Wood", Value="VIS-04" }, new SelectListItem { Text="(VIS-05) Machine Vision Glass", Value="VIS-05" }, new SelectListItem { Text="(VIS-06) Machine Vision Metal", Value="VIS-06" }, new SelectListItem { Text="(VIS-07) Machine Vision Transportation", Value="VIS-07" }, new SelectListItem { Text="(VIS-08) Machine Vision Container", Value="VIS-08" }, new SelectListItem { Text="(VIS-09) Machine Vision Microelectronics", Value="VIS-09" }, new SelectListItem { Text="(VIS-75) Laser Measurement and Control", Value="VIS-75" }, new SelectListItem { Text="(VIS-99) VIS Spare Parts", Value="VIS-99" },
                        }, new { @class = "form-control", multiple = "multiple" })

                        @Html.ValidationMessageFor(model => model.AppCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col-label">
                        @Html.LabelFor(model => model.ProductGroup, htmlAttributes: new { @class = "control-label" })
                    </div>

                    <div class="form-col-input">
                        @Html.DropDownListFor(model => model.ProductGroup, new List<SelectListItem>
                            {
                       new SelectListItem { Text="-- Select Product Group --", Value="" },
                       new SelectListItem { Text="Compass", Value="Compass" },
                       new SelectListItem { Text="Laser Diode Module", Value="Laser Diode Module" },
                       new SelectListItem { Text="MP System", Value="MP System" },
                       new SelectListItem { Text="MP Tool", Value="MP Tool" },
                       new SelectListItem { Text="Obis", Value="Obis" },
                       new SelectListItem { Text="Sapphire", Value="Sapphire" },
                       new SelectListItem { Text="Unknown", Value="Unknown" },
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductGroup, "", new { @class = "text-danger" })
                    </div>
                </div>                

                <div class="form-row">
                    <div class="form-col-label">
                        <label for="file" class="control-label">File</label>
                    </div>

                    <div class="form-col-input">
                        <input type="file" name="file" id="file" />
                        @Html.ValidationMessageFor(x => x.EndpointURL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-btns">
                    <input type="button" id="cancel_btn" value="Cancel" />
                    <input type="submit" value="Add" id="submit_btn" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#cancel_btn").click(function () {
            window.location.href = "/";
        });

        var availableTags = [
      "Diode",
      "Excimer",
      "Femtosecond",
      "Ultrafast Oscillators",
      "StingRay Lasers"
        ];
        /*
        $("#Tags").autocomplete({
            source: availableTags,
            select: function (event, ui) {
                var html_to_add = '<br/>' + ui.item.value;
                $('#selected_tags').append(html_to_add);
                $(this).val('');
                return false;
            }
        });*/

        $("#select_tag").change(function () {
            var str;
            $("#select_tag option:selected").each(function () {
                str = $(this).val() + "<br/>";
                $("#selected_tags").append(str);
            });
        });

    });
</script>