
@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="contents">
        <div class="heading">
            <h2>Document List</h2>
        </div>

        <div class="page-contents">
            <div>
                <div class="group">
                    <table id="documents">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Salesforce ID</th>
                                <th>Alternate Tracking ID</th>
                                <th>Lead Form Required</th>
                                <th>Email to Notify</th>
                                <th>Date Added</th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Salesforce ID</th>
                                <th>Alternate Tracking ID</th>
                                <th>Lead Form Required</th>
                                <th>Email to Notify</th>
                                <th>Date Added</th>
                                <th>Last Modified</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var doc in ViewBag.DocsList)
                            {
                                if (doc.Tags == "" || doc.Tags == null)
                                {
                                    doc.Tags = "N/A";
                                }
                                else
                                {
                                    doc.Tags.Trim();
                                }
                                if (doc.SalesForceId == "" || doc.SalesForceId == null)
                                {
                                    doc.SalesForceId = "N/A";
                                }
                                else
                                {
                                    doc.SalesForceId.Trim();
                                }
                                if (doc.AlternateTrackingId == "" || doc.AlternateTrackingId == null)
                                {
                                    doc.AlternateTrackingId = "N/A";
                                }

                                if (doc.Category == "file")
                                {
                                    doc.Category = "File";
                                }
                                if (doc.Category == "emailblasts")
                                {
                                    doc.Category = "Email Blasts";
                                }
                                if (doc.Category == "assets")
                                {
                                    doc.Category = "Assets";
                                }

                                <tr>
                                    <td><a href="/Document/DocumentDetails/@doc.Id">@doc.Title</a></td>
                                    <td>@doc.Category</td>
                                    <td>@doc.Description</td>
                                    <td>@doc.SalesForceId</td>
                                    <td>@doc.AlternateTrackingId</td>
                                    <td>@doc.LeadRequired</td>
                                    <td>@doc.EmailNotify</td>
                                    <td>@doc.CreatedDateTime</td>
                                    <td>@doc.ModifiedDateTime</td>
                                </tr>


                            }
                        </tbody>

                    </table>
                </div>
            </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#documents').DataTable();
    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>

